<div class="section mb-4" style="text-align: center">
  <div class="logo" [innerHtml]="config.logoHtml|safeHtml">
  </div>
  <h2 class="header m-3" style="font-weight: 800">{{config.title}}</h2>
  <p class="text-left">{{config.summary}}</p>
  <hr class="mb-3">
</div>

<div class="row">
  <div class="col-12">
    <div class="section">
      <ng-container *ngIf="success">
        <div class="alert alert-success">
          <strong>CONGRATULATIONS!</strong> You have successfully sent an email through the Sendgrid API using Xano as your backend.
        </div>
      </ng-container>
      <ng-container *ngIf="!success">
        <div class="text-left">
          <div class="form-group">
            <label>To Email</label>
            <app-form-input [form]="form" [name]="'to_email'" [placeholder]="'Enter an email address'" [focus]="true">
            </app-form-input>
          </div>
          <div class="form-group">
            <label>Subject</label>
            <app-form-input [form]="form" [name]="'subject'" [placeholder]="'Enter a subject'">
            </app-form-input>
          </div>
          <div class="form-group">
            <label>Body</label>
            <app-form-input [form]="form" [name]="'body'" [type]='"textarea"' [placeholder]="'What should your email say?'">
            </app-form-input>
          </div>
          <button type="button" (click)="submit()" class="btn btn-primary" [disabled]="saving">
            <fa-icon *ngIf="saving" [icon]="spinner" [fixedWidth]="true" [pulse]="true" class="mr-1"></fa-icon>Send test email
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
